.i-creation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50cm;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
}

.image-container {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
}

.profileIMG {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.profileIMG:hover {
  transform: scale(1.1);
}

.text-line {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 9%;
  left: 24%;
}

.projectdata{
  position: absolute;
  top:15%;
  margin-left: 22%;
  margin-right: 5%;
  transition-delay: 3s;
}

.caroposition{
  position: absolute;
  top: 50%;
  left: 3%;
  height: 10%;
  width: 90%;
}


/* Table Styles */
.animated-table {
  margin-top: 20px;
  padding: 40px;
  z-index: 2;
  position: absolute;
  top: 25%;
  width: 90%;
  height: 60%;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #80ff9e;
}
.posterimg {
  width: 900px;  /* Set your desired width */
  height: 325px; /* Set your desired height */
  object-fit:fill; /* Ensures the image covers the area, maintaining aspect ratio */
}

th, td {
  border: 1px solid #fd7cd2;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #ff6060;
}

tr {
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #846fff;
}
.caroclass{
  position: absolute;
  top: 110%;
  left:22% ;
  width: 71%;
  transition: ease-in;
  animation-delay: 4000ms;
}

.classtool{
  position: absolute;
  top: 160%;
  width: 70%;
  left: 23%;
}

.cardcolortool{
  background-color: #fd7cd2;
}