.i-creation{
    position: absolute;
    top: 53%;
    left: 42%;
    height:83%;
    width: 80%;
    transform: translate(-30%, -50%);
    background-color: #d01414;
    z-index: 1;
  }

.profileIMG{
  border-radius: 50px;
}
